<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}DS9 Web Application{% endblock %}</title>

   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

   	{%load static %}
   	<link rel="stylesheet" href="{%static 'main.css'%}"/>
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}"/>
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/ds9s/">Home</a>    
          <a class="navbar-brand navbar-right" href="/ds9s/fits/test/">Test page</a>      
          <a class="navbar-brand navbar-right" href="/ds9s/fits/upload/">Add new ParXXX</a>
          
        </div>
        <div class="navbar-collapse collapse">
        	{% block loginForm%}
        		{% if user.is_authenticated %}					
					<a class="navbar-brand navbar-right" href="/ds9s/logout/">Log out</a>
				{% else %}
          		<a class="navbar-brand navbar-right" href="/ds9s/newUser">Sign in</a>
              <span class="no-hover navbar-brand navbar-right">/</span>
              <a class="navbar-brand navbar-right" href="/ds9s/login/">Log in</a>
          		{% endif %}
          	{% endblock %}
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>{% block headTitle%}Hello, welcome on DS9 Web Application{% endblock %}</h1>
        <p>{% block contentHeadTitle%}You'll be able to work here very soon!{% endblock %}</p>      
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
        </ul>
        {% endif %}
        <section id="content">
          {% block content %}{% endblock %}
        </section>
      </div>

      <hr>

      <footer>
        <p>ds9 web application</p>
      </footer>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){

      $('#g102').on("mousemove",function(e){
            tab = getCoordonate(e.pageX, e.pageY, this)
            $('#g102 + div .x').html(tab[0]);
            $('#g102 + div .y').html(tab[1]);
      })
      $('#g141').on("mousemove",function(e){
            tab = getCoordonate(e.pageX, e.pageY, this)
            $('#g141 + div .x').html(tab[0]);
            $('#g141 + div .y').html(tab[1]);
      })
      $('#f110').on("mousemove",function(e){
            tab = getCoordonate(e.pageX, e.pageY, this)
            $('#f110 + div .x').html(tab[0]);
            $('#f110 + div .y').html(tab[1]);
      })
      $('#f160140').on("mousemove",function(e){
            tab = getCoordonate(e.pageX, e.pageY, this)
            $('#f160140 + div .x').html(tab[0]);
            $('#f160140 + div .y').html(tab[1]);
      })
      

      function getCoordonate(x, y, selector){
        dataWidth = $(selector).position().left
        dataHeight = $(selector).position().top
        return [x-dataWidth, y-dataHeight]
      }
    })    
  </script>
  </body>
</html>