<!DOCTYPE html>
<html lang="fr">
	<head>
		{% load static %}
	   <link rel="stylesheet" href="{% static 'main.css' %}" />
	   <title>{% block title %}ds9 web application{% endblock %}</title>
	</head>

	<body>
		<header><h1>DS9 WEB APPLICATION</h1></header>
		<nav>
			{% block nav %}
		    	<ul>
			   		<li>
			   			<a href="/ds9s/">Home</a>			   			
			   		</li>
			   		<li>
			   			<a href="/ds9s/newUser/">New user</a>
			   		</li>
		       	</ul>
		    {% endblock %}
		</nav>

	   <section id="content">
	       {% block content %}{% endblock %}
	   </section>

	<footer>ds9 web application</footer>
	</body>
</html>
