<div id="buttons">
	{% if previous %}
		<form action="/ds9s/fits/view/{{previous.uniq_id}}/" method="post">
			{% csrf_token %}
			<input class="btn btn-default"  type="submit" value="Previous" />
		</form>
	{%else%}
		<input class="btn btn-default"  disabled="disabled" type="button" value="Previous" />
	{% endif %}	
	<span>—</span>	
	
		<form action="/ds9s/fits/view/{{next.uniq_name}}/" method="post">
			{% csrf_token %}
			<input class="btn btn-default"  type="submit" value="Next" />
		</form>

</div>