{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		Welcome, {{ user.first_name }} {{ user.last_name }}. 
	{% else %}
		{% if next %}
			<form class="form" method="post" action="/ds9s/login/?next={{next}}">
		{%else%}
			<form class="form" method="post" action="/ds9s/login/">
		{% endif %}
			<form class="form" method="post" action="/ds9s/login/">
			 	   {% csrf_token %}
			 	   {{ form.as_p }}
			    <button type="submit" class="btn btn-success">Sign in</button>
			</form>

			<div>
				<p>Not register ? <a href="/ds9s/newUser/">Do it here !</a></p>
			</div>
		{% endif %}	
{% endblock %}

