{% extends "base.html" %}

{% if user.is_authenticated %}
	{% block loginForm%}
		<a class="navbar-brand navbar-right" href="/ds9s/logout">Log out</a>
	{% endblock %}
{% endif %}

{% block content %}
	{% if user.is_authenticated %}
		Welcome, {{ user.first_name }} {{ user.last_name }}. 
	{% else %}
		{% if next %}
			<form class="form" method="post" action="/ds9s/login/?next={{next}}">
		{%else%}
			<form class="form" method="post" action="/ds9s/login/">
		{% endif %}
			<form class="form" method="post" action="/ds9s/login/">
			 	   {% csrf_token %}
			 	   {{ form.as_p }}
			    <button type="submit" class="btn btn-success">Sign in</button>
			</form>
		{% endif %}	
{% endblock %}

