{% extends "base.html" %}
{% load ds9s_extras %}
{%load static %}

{% block flyJs %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
        	$('#firstTable tfoot th').each( function () {
		    	var title = $('#firstTable thead th').eq( $(this).index() ).text();
		        $(this).html( '<input type="text" placeholder="'+title+'" />' );
		    });

        	var table = $("#firstTable").DataTable({
          	"columnDefs": [
          		{ "orderable": false, "targets": 0 }
          	],
          	"aaSorting": [[1,'asc']]
          });

	        table.columns().eq( 0 ).each( function ( colIdx ) {
		        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
		            table
		                .column( colIdx )
		                .search( this.value )
		                .draw();
		        } );
		    });
        });        
          
      </script>
{% endblock %}

{% block flyCss %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <style type="text/css">
    	#root{
    		width:1600px;
    	}
    </style>
    
    {%load static %}
	<link rel="stylesheet" href="{%static 'flyJumbo.css'%}"/>
{% endblock %}

{% block head %}
	<h1 id="headGalaxy">Export</h1>
{% endblock %}

{% block content %}
	<div class="controllerSearch">
		<a class='btn btn-default' id='removeAllFilters'>Remove all filters</a>
	</div>

	<div class="controllerSearch">
		<select id='selectGal' class="form-control">
			<option value='base'></option>
			{% for gal in gals %}
				<option value='{{gal|keyvalue:0}}-{{gal|keyvalue:1}}'>
					Uniq id: {{gal|keyvalue:0}} -- Field Id: {{gal|keyvalue:1}}
				</option>
			{% endfor %}
		</select>
		<a class='btn btn-default' id='submitSelectGal'>Go</a>

		
		<label for='galId'>Galaxy uniq Id :</label> <input min='0' type='number' name='galId' id='galId' class="searchController">
		<label for='fieldId'>Field Id :</label> <input min='0' type='number' name='fieldId' id='fieldId' class="searchController">
		<a class='btn btn-default' id='submitSelectGalPerso'>Go</a>		
	</div>

	<div class="controllerSearch">
		<label for='minRedshift'>Min :</label> <input type='number' min='0' max='3' step='0.01' name='minRedshift' id='minRedshift' class="searchController">
		<label for='maxRedshift'>Max :</label> <input type='number' min='0' max='3' step='0.01' name='maxRedshift' id='maxRedshift' class="searchController">
		<a class='btn btn-default' id='submitIntervalRedshift'>Go</a>
	</div>

	<div class="controllerSearch">
		<label for='minX'>Min X :</label> <input type='number' name='minX' id='minX' class="searchController">
		<label for='minX'>Max X :</label> <input type='number' name='maxX' id='maxX' class="searchController">
		<a class='btn btn-default' id='submitIntervalX'>Go</a>
	</div>

	<div class="controllerSearch">
		<label for='minY'>Min Y :</label> <input type='number' name='minY' id='minY' class="searchController">
		<label for='minY'>Max Y :</label> <input type='number' name='maxY' id='maxY' class="searchController">
		<a class='btn btn-default' id='submitIntervalY'>Go</a>
	</div>

	<form id='galaxySelectioner' action='/ds9s/reviews/selected/' method='post'>
		{% csrf_token %}
		<div class="controllerSearch btnExport">
			<input type='submit' value="Export selection" class='btn btn-default exportSelection'/>
		</div>

		<table id="firstTable" class="table table-hover">
				<thead>
					<tr>
						<th id='headerSelector' type="undone">Select everything</th>
						<th>Unique id</th>
						<th>Field id</th>
						<th>Contaminated</th>
						<th>Galaxy type</th>
						<th>Redshift</th>
						<th>X sky</th>
						<th>Y sky</th>
					</tr>
				</thead>
				<tfoot>
		            <tr>
		            	<th></th>
		                <th>Unique id</th>
						<th>Field id</th>
						<th>Contaminated</th>
						<th>Galaxy type</th>
						<th>Redshift</th>
						<th>X sky</th>
						<th>Y sky</th>
		            </tr>
	        	</tfoot>
				<tbody>
					{% for iden in idens %}
						<tr value='{{iden.galaxy.id}}-{{iden.id}}' class="lines" name='{{iden.galaxy.uniq_name}}'>
							<td class="littleTd"><input type="checkbox" class='selectExport'/>   Select this line</td>
							<td class='galsids' value='{{iden.galaxy.uniq_id}}'>{{iden.galaxy.uniq_id}}</td>
							<td class='fieldsids' value='{{iden.galaxy.parfolder.fieldId_par}}'>{{iden.galaxy.parfolder.fieldId_par}}</td>
							<td>{{iden.contaminated}}</td>
							<td>{{iden.galaxytype}}</td> 
							<td class='hutRedshift'>{{iden.redshift}}</td>
							<td class='hutX'>{{featuresX|keyvalue:forloop.counter0}}</td> 
							<td class='hutY'>{{featuresY|keyvalue:forloop.counter0}}</td>		
						</tr>
					{% endfor %}
				</tbody>
			</table>

		<div class="controllerSearch btnExport">
			<input type='submit' value="Export selection" class='btn btn-default exportSelection'/>
		</div>

	</form>

{% endblock %}

{% block js %}
	{{block.super}}
	<script type="text/javascript" src='{% static "search.js" %}'></script>
{% endblock %}
