{% extends "base.html" %}
{% block content %}

	<h1>Here all the usefull links for .fits:</h1>
	<ul>
		<li><a href="/ds9s/fits/upload/">Upload new .fits</a></li>
		<li><a href="/ds9s/fits/test/">New ParXXX file</a></li>
	</ul>


	{% for fit in fits%}
		<div class="col-md-4">
			<h1 class="first-uppercase">{{fit.name}}</h1>
			{% if user.is_authenticated%}
				<a class="btn btn-default" href="/ds9s/fits/view/{{fit.id}}/">See more</a>
			{% endif %}
			<hr>
		</div>
	{%endfor%}

	{% if is_paginated %}
		<div class="pagination">
	    {% if page_obj.has_previous %}
	    	<a href="?page={{ page_obj.previous_page_number }}">Previous</a> —
	    {% endif %}
	    Page {{ page_obj.number }} on {{ page_obj.paginator.num_pages }} 
	    {% if page_obj.has_next %}
	    	— <a href="?page={{ page_obj.next_page_number }}">Next</a>
	    {% endif %}
	    </div>
	{% endif %}
{% endblock %}