{% extends "base.html" %}
{% block content %}
	{% for u in users %}
		<div class="col-md-4">
			<h1 class="first-uppercase">{{u.first_name}} {{u.last_name}}</h1>
			<p>{{u.email}}</p>
			{% if user.is_authenticated%}
				<a class="btn btn-default" href="/ds9s/view/{{u.id}}/">See more</a>
			{% endif %}
			{% if perms.ds9s.delete_user%}
				<a class="btn btn-default" href="/ds9s/delete/{{u.id}}/">Delete</a>
			{% endif %}
			{% if perms.ds9s.update_user%}
				<a class="btn btn-default" href="/ds9s/update/{{u.id}}/">Update</a>
			{% endif %}
		</div>
		<hr>
	{% endfor %}

	{% if is_paginated %}
		<div class="pagination">
	    {% if page_obj.has_previous %}
	    	<a href="?page={{ page_obj.previous_page_number }}">Previous</a> —
	    {% endif %}
	    Page {{ page_obj.number }} on {{ page_obj.paginator.num_pages }} 
	    {% if page_obj.has_next %}
	    	— <a href="?page={{ page_obj.next_page_number }}">Next</a>
	    {% endif %}
	    </div>
	{% endif %}
{% endblock %}

