{% extends "base.html" %}
{% block content %}
	{% if galaxys %}
		{% for gal in galaxys%}
			<div class="col-md-4">
				<h1 class="first-uppercase">Galaxy n°{{gal.uniq_id}}</h1>
				{% if user.is_authenticated%}
					<a class="btn btn-default" href="/ds9s/fits/view/{{gal.uniq_id}}/">See more</a>
				{% endif %}			
			<hr>
			</div>
		{%endfor%}

		{% if is_paginated %}
			<div class="pagination clear">
		    {% if page_obj.has_previous %}
		    	<a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}">Previous</a> —
		    {% endif %}
		    Page {{ page_obj.number }} on {{ page_obj.paginator.num_pages }} 
		    {% if page_obj.has_next %}
		    	— <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}">Next</a>
		    {% endif %}
		    </div>
		{% endif %}
	{% else %}
		<h1>No data yet. <a href="/ds9s/fits/upload/">Add some !</a></h1>
	{% endif %}
{% endblock %}