{% extends "base.html" %}
{% load ds9s_extras %}


{% block flyJs %}
	{%load static %}
	<script type="text/javascript" src='{% static "parfolder.js" %}'></script>
{% endblock %}

{% block flyCss %}
    {%load static %}
	<link rel="stylesheet" href="{%static 'flyJumbo.css'%}"/>
{% endblock %}

{% block head %}
	<h1 id="headGalaxy">Add new ParXXX folder</h1>
{% endblock %}


{% block content %}
	{% if parfolders %}
		<h1>Available folder{{parfolders|pluralize}}:</h1>
		<ul id="parfolderList">
			{% for parfolder in parfolders %}
			<li value="{{parids|keyvalue:forloop.counter0}}" class="parfolderList">{{parfolder}}</li>
			{% endfor %}
		</ul>
		<form id="uploadParForm" method="post" action=".">
		    {% csrf_token %}
		    <p>
			    <label for="id_name">Field id from Par<span class="precision">XXX</span>:</label>
			    <input required id="id_name" name="name" type="text">
			</p>
			<input id='btnUploadPar' class="btn btn-default" type="submit" value="Upload"/>			    
		</form>
	{% else %}
		<h1>No ParXXX folder available.</h1>
	{% endif %}
{% endblock %}