{% extends "base.html" %}

{% block flyJs %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

      <script type="text/javascript">
        $(document).ready(function(){
        	$('#allReviewsTab tfoot th').each( function () {
		    	var title = $('#allReviewsTab thead th').eq( $(this).index() ).text();
		        $(this).html( '<input type="text" placeholder="'+title+'" />' );
		    });

        	var table = $("#allReviewsTab").DataTable({
	          	"columnDefs": [
	          		{ "orderable": false, "targets": 1 }
	          	]
          	});

	        table.columns().eq( 0 ).each( function ( colIdx ) {
		        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
		            table
		                .column( colIdx )
		                .search( this.value )
		                .draw();
		        } );
		    });
        });        
          
      </script>
{% endblock %}

{% block flyCss %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <style type="text/css">
    	#root{
    		width:1400px;
    	}
    </style>
{% endblock %}



{% block content %}
	<h1>Reviews Page</h1>

	<table id='allReviewsTab' class="table table-hover">
			<thead>
				<tr>
					<th>Unique id</th>
					<th>How many</th>
					<th>Go</th>
				</tr>
			</thead>

			<tfoot>
	            <tr>
	                <th>Unique id</th>
	                <th>How many</th>
	                <th class="displayChildNone"></th>
	            </tr>
        	</tfoot>

			<tbody>
				{% for iden in idens %}
					<tr class="firstLine">
						<td>{{iden.galaxy.uniq_id}}</td>
						<td>{{iden.reviews}}</td>
						<td><a class="btn btn-default" href="/ds9s/reviews/{{iden.galaxy.uniq_name}}/">Go</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
