<div class="clear container-fluid">
	<div class="col-xs-6 col-md-6">
		<form id="userReview" method="post" 
		{% if not next %}
			action="/ds9s/saveReview/{{gal.id}}/{{gal.uniq_name}}/None/"			
		{% elif not check %}
			action="/ds9s/saveReview/{{gal.id}}/{{gal.uniq_name}}/{{next.uniq_name}}/"
		{% else %}
			action="/ds9s/updateReview/{{check.id}}/"
		{% endif %}
		>
		{% csrf_token %}
			<div class="radio">
				<label for="objectStar">
					<input type="radio" {%if check.galaxytype.nameForId == "star"%}checked="checked"{%endif%}required name="typeObject" id="objectStar" value="star"/>
					This object is a <strong>star</strong>
				</label>
			</div>
			<div class="radio">
				<label for="objectQuasar">
					<input type="radio" {%if check.galaxytype.nameForId == "quasar"%}checked="checked"{%endif%}required name="typeObject" id="objectQuasar" value="quasar"/>
					This object is a <strong>quasar</strong>
				</label>
			</div>
			<div class="radio">
				<label for="objectGalaxyNolines">
					<input type="radio" {%if check.galaxytype.nameForId == "galaxyNoLines"%}checked="checked"{%endif%}required name="typeObject" id="objectGalaxyNolines" value="galaxyNoLines"/>
					This object is a <strong>galaxy, but without identifiable emission lines</strong>
				</label>
			</div>
			<div class="radio">
				<label for="objectGalaxyLines">
					<input type="radio" {%if check.galaxytype.nameForId == "galaxyLines"%}checked="checked"{%endif%}required name="typeObject" id="objectGalaxyLines" value="galaxyLines"/>
					This object is a <strong>galaxy, with emission lines at the redshift I have identified</strong>
				</label>
			</div>
			<div class="radio">
				<label for="objectGalaxyNothing">
					<input type="radio" {%if check.galaxytype.nameForId == "nothing"%}checked="checked"{%endif%}required name="typeObject" value="nothing" id="objectGalaxyNothing"/>
					This object is <strong>nothing</strong>.
				</label>
			</div>
			<div class="checkbox">
				<label for="contaminated">
					<input type="checkbox" {%if check.contaminated == True%}checked="checked"{%endif%}name="contaminated" id="contaminated"/>
					This object's spectrum suffers from contamination from nearby stars/galaxies
				</label>
			</div>


			<input type="submit" id="validate-review" class="btn btn-default" 

			{% if check %}
				value="Update"
			{% else %}
				value="Validate & go next"
			{% endif %}	
			/>
		</form>
	</div>
	<div id="checkRef" class="col-xs-6 col-md-6">
		<div id="divCheckRef"></div>
	</div>
</div>