{% extends "base.html" %}

{% block flyCss %}    
    {%load static %}
	<link rel="stylesheet" href="{%static 'flyJumbo.css'%}"/>
{% endblock %}

{% block head %}
	<h1 id="headGalaxy">Fields selection</h1>
{% endblock %}

{% block content %}
	<form method='post' action='/ds9s/reviews/createFile/'>
		{% csrf_token %}
		<div id='allFieldsSelect'>
			<div class='containerFieldsSelect col-xs-4 col-md-4'>
				<h2>Galaxy fields</h2>
				{% for field in galFields %}		
					<div class="checkbox fieldsSelect"> 
						<label for="{{field.id}}{{field.shortname}}"> 
							<input type="checkbox" id='{{field.id}}{{field.shortname}}' name='galFields' value="{{field.id}}"/> <strong>{{field}}</strong> 
						</label> 
					</div>		
				{% endfor %}
			</div>

			<div class='containerFieldsSelect col-xs-3 col-md-3 col-md-offset-1'>
				<h2>Emission lines fields</h2>
				{% for field in emiFields %}		
					<div class="checkbox fieldsSelect"> 
						<label for="{{field.id}}{{field.shortname}}"> 
							<input type="checkbox" id='{{field.id}}{{field.shortname}}' name='emiFields' value="{{field.id}}"/> <strong>{{field}}</strong> 
						</label> 
					</div>		
				{% endfor %}
			</div>

			<div class='containerFieldsSelect col-xs-3 col-md-3 col-md-offset-1'>
				<h2>Emission lines</h2>
				{% for field in emiLines %}		
					<div class="checkbox fieldsSelect"> 
						<label for="{{field.id}}{{field.shortname}}"> 
							<input type="checkbox" id='{{field.id}}{{field.shortname}}' name='emiLines' value="{{field.id}}"/> <strong>{{field}}</strong> 
						</label> 
					</div>		
				{% endfor %}
			</div>
		</div>
		<input type='submit' class='btn btn-default' value='Export'/>
	</form>
{% endblock %}