{% extends "base.html" %}
{% block classPage %}
class = 'container-fuild'	
{% endblock %}
{% block content %}	
	{% include "buttonsNextPrev.html" %}


	<h1>Galaxy n°{{gal.uniq_id}}</h1>

	<a class='btn btn-default' type='0' id='displayCatData'>See more</a>
	<div id="dataCatContainer" class="none container-fluid">
		<div class="row">
			{% for f in features%}
				<div class="dataCat col-md-3 col-xs-3">
					<h6>
						{{f.galaxyfields.name}}
						({{f.galaxyfields.shortname}})
					</h6>
					<p>{{f.value}}</p>
				</div>
			{% endfor %}
		</div>	
	</div>	
	<div id="scaled">
		<form>
			{% csrf_token %}
			<label for="scaling">Scaling: </label>
			<input type="number" value="100" name="valScaling" id="valScaling"/>
			<input type="range" id="scaling" name="scaling" min="0" step="1" max="300" value="100"/>
		</form>
	</div>
	<div id="rootFiles" class="container-fluid">
		<div id="fFiles">
			<div contenteditable="false" class="row auto">
				<div id="f110" class='col-xs-6 col-md-6'>
					{{f110div}}
				</div>
				
				<div id="f160140" class='col-xs-6 col-md-6'>
					{{f160140div}}
				</div>
			</div>
			<div contenteditable="false" class="row auto">
				<div id='dataF110' class="col-xs-6 col-md-6">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
				<div id='dataF160140' class="col-xs-6 col-md-6">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
			</div>
		</div>
		<div id="gFiles">
			<div contenteditable="false" class="row auto">
				<div id="g102" class="col-xs-6 col-md-6">
					{{g1div}}
				</div>
				<div id="g141" class="col-xs-6 col-md-6">
					{{g2div}}
				</div>
			</div>
			<div contenteditable="false" class="row auto">
				<div id='dataG102' class="col-xs-6 col-md-5">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
				<div id='dataG141' class="col-md-offset-2 col-xs-6 col-md-5">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
			</div>
		</div>
	</div>

	{% include "buttonsNextPrev.html" %}

	{% block js %}
	{{block.super}}
		<span id="scrF110">{{f110script}}</span>
		<span id="scrf160140">{{f160140script}}</span>		
		{{g1script}}
		{{g2script}}
		{%load static %}
		<script type="text/javascript" src='{% static "scaling.js" %}'></script>
  		<script type="text/javascript" src='{% static "coordonatePictures.js" %}'></script>
	{% endblock %}
{% endblock %}