{% extends "base.html" %}
{% block classPage %}
class = 'container-fuild'	
{% endblock %}
{% block content %}	
	<h1>Galaxy n°{{gal.uniq_id}}</h1>

	<a class='btn btn-default' type='0' id='displayCatData'>See more</a>
	<div id="dataCatContainer" class="none container-fluid">
		<div class="row">
			{% for f in features%}
				<div class="dataCat col-md-3 col-xs-3">
					<h6>
						{{f.galaxyfields.name}}
						({{f.galaxyfields.shortname}})
					</h6>
					<p>{{f.value}}</p>
				</div>
			{% endfor %}
		</div>	
	</div>	
	<div>
	<div id="rootFiles" class="container-fluid">
		<div id="fFiles">
			<div contenteditable="false" class="row">
				<div id="f110" class='test'>
					{{f110div}}
				</div>
				
				<div id="f160140" class='test'>
					{{f160140div}}
				</div>
			</div>
			<div contenteditable="false" class="row">
				<div id='dataF110' class="col-xs-6 col-md-5">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
				<div id='dataF160140' class="col-md-offset-2 col-xs-6 col-md-5">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
			</div>
		</div>
		<div id="gFiles">
			<div contenteditable="false" class="row">
				<div id="g102" class="col-xs-12 col-md-12">
					{{g1div}}
				</div>
				<div class="clear col-xs-12 col-md-12">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
			</div>
			<div contenteditable="false" class="row">
				<div id="g102" class="col-xs-12 col-md-12">
					{{g2div}}
				</div>
				<div class="clear col-xs-12 col-md-12">
					<p>Cursor position => X:<span class="x"></span> - Y:<span class="y"></span></p>
				</div>
			</div>
		</div>
	</div>

	<div id="buttons">
		{% if previous %}
			<form action="/ds9s/fits/view/{{previous.uniq_id}}/" method="post">
				 {% csrf_token %}
				<input class="btn btn-default"  type="submit" value="Previous" />
			</form>
		{%else%}
			<input class="btn btn-default"  disabled="disabled" type="button" value="Previous" />
		{% endif %}	
		<span>—</span>	
		{%if next %}
			<form action="/ds9s/fits/view/{{next.uniq_id}}/" method="post">
				 {% csrf_token %}
				<input class="btn btn-default"  type="submit" value="Next" />
			</form>
		{%else%}
			<input class="btn btn-default"  disabled="disabled" type="button" value="Next" />
		{% endif %}	
	</div>

	{{f110script}}
	{{f160140script}}
	{{g1script}}
	{{g2script}}
{% endblock %}