.pagination{
	clear:both;
	display:block;
	padding-top:55px;
}

.clear{
	clear:both;
}

.error, .success, .errorlist, .info, .warning{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	list-style: none;
}

.info{
	color: #31708f;
	background-color: #5bc0de;
}

.warning{
	color: #8a6d3b;
	background-color: #f0ad4e;
}

.error, .errorlist{
	color: #D8000C;
	background-color: #FFBABA;
}

.success{
	color: #4F8A10;
	background-color: #DFF2BF;
}

.first-uppercase{
	text-transform: capitalize; /*uppercase all first letters*/
}

.no-hover:hover{
	color:#777!important;
}

.precision{
	text-decoration: underline;
	font-style: oblique;
}

#fFiles div, #gFiles div{
	background-color:rgba(86,61,124,0.15);
}

#fFiles{
	margin-bottom: 15px;
}


.figure{
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 1s ease;
	float:left;
}

.figure:hover{
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	cursor:pointer;
}

.figure:focus{
	outline: none;
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	z-index: 9999;
	width: 1500px;
}

#buttons{
	margin-top:40px;
	clear:both;
}

#buttons form{
	display: inline-block;
}