body, html{
	height: 100%;
}

tfoot tr th {
    padding: 8px !important;
}

.center{
	text-align: center;
	vertical-align: top;
	margin-bottom: 15px;
}

.center h1{
	font-size: 45px;
}

.note{
	font-style: italic;
}

#linkBottom{
	margin: 35px;
}

.imgLegend{
	font-size: 12px;
	width: 600px;
	margin: auto;
	text-align: justify;
}

.container-img{
	margin: 15px 0 15px 0;
}

.container-text{
	text-align: justify;
}

.background-selected{
	background-color: darkgrey !important;
}

.background-selected:hover{
	background-color: lightgrey !important;
}

#scrollToViewAll{
	margin-bottom: 15px;
}

.clear{
	clear: both;
}

.controllerSearch{
	margin-bottom: 15px;
}

.controllerSearch label{
	width: 120px;
	text-align: center;
}

.controllerSearch label[for='galId']{
	margin-left: 10px;
}

.controllerSearch input[type='number']{
	width: 85px;
	margin-right: 15px;
}

#letsgo{
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
	margin: auto;
	display: block;
	text-decoration: none;
}

#letsgo:hover{
	font-style: italic;
}

.btn{
	cursor: pointer;
}

.pagination{
	clear:both;
	display:block;
	padding-top:55px;
}

.displayChildNone input{
	display: none;
}

.clear{
	clear:both;
}

.margin-top-10{
	margin-top: 10px;
}

.miniLabel{
	max-width: 25px;
}

.labelSize label{
	min-width: 175px;
}


.none, #formUpdateUser #id_password, 
#formUpdateUser #id_passwordCheck, 
#formUpdateUser label[for='id_password'], 
#formUpdateUser label[for='id_passwordCheck']{
	display: none;
}

.error, .success, .errorlist, .info, .warning{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	list-style: none;
}

.info{
	color: #31708f;
	background-color: #5bc0de;
}

.warning{
	color: #8a6d3b;
	background-color: #f0ad4e;
}

.error, .errorlist{
	color: #D8000C;
	background-color: #FFBABA;
}

.success{
	color: #4F8A10;
	background-color: #DFF2BF;
}

.first-uppercase{
	text-transform: capitalize; /*uppercase all first letters*/
}

.no-hover:hover{
	color:#777!important;
}

.precision{
	text-decoration: underline;
	font-style: oblique;
}

.dataCat{
	-webkit-box-shadow: 6px 0px 12px 0px rgba(50, 50, 50, 0.27);
	-moz-box-shadow:    6px 0px 12px 0px rgba(50, 50, 50, 0.27);
	box-shadow:         6px 0px 12px 0px rgba(50, 50, 50, 0.27);
}

#rootFiles{
	/*margin-bottom: 25px;*/
}

#fFiles div, #gFiles div, .dataCat{
	/*background-color:rgba(86,61,124,0.15);*/
}

#fFiles, #dataCatContainer{
	margin-bottom: 15px;
}

#g102{
	margin:auto !important;
}


.figure{
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 1s ease;
	float:left;
}

.figure:hover{
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	cursor:pointer;
}

.figure:focus{
	outline: none;
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	z-index: 9999;
	width: 110%;
}

#buttons{
	margin-top:40px;
	clear:both;
}

#buttons form{
	display: inline-block;
}

#imgSearch:hover{
    transform: rotate(10deg);
}

.pointer:hover{
	cursor:pointer;
}

.nunAnaly{
	display:inline;
	margin-left: 100px;
}

#displayCatData, #hideCatData{
	margin-bottom:15px;
}

#displayCatData{
	margin-left: 10px;
}

td[class='bk-plot-above bk-sidebar bk-toolbar-active'] a[class='bk-logo bk-logo-small']{
	display: none !important;
}

@media (min-width: 1500px) {
	#all {
		width:1800px;
		margin: auto;
	}

	footer{
		padding-left: 25px;
	}
}

@media (max-width: 1500px){
	.container-fuild{
		margin-left: 25px;
	}
}

#headGalaxy{
	font-size: 36px;
}

.auto{
	margin: 0 auto;
}

#refSpectra ul li, #refSpectra ul{
	display: inline-block;
}

#refSpectra{
	margin-bottom: 13px;
}

#divLegends{
	margin-top: 10px;
}

input[type="number"]{
	width: 50px;
}

.imageBokeh{
	float: left;
	margin: auto;
}

#ulRefSpec{
	margin-top: 15px;
}

#ulRefSpec li{
	list-style: none;
	width: 175px;
}

#ulRefSpec label{
	margin-left: 5px;
}

.spanLegend{
	width:20px;
	height: 5px;
	display: inline-block;
}

.lightsalmon{
	background-color:lightsalmon;
}

.steelblue{
	background-color:steelblue;
}

.indigo{
	background-color:indigo;
}

.orange{
	background-color:orange;
}

.darkred{
	background-color:darkred;
}

.darkorchid{
	background-color:darkorchid;
}

.palevioletred{
	background-color:palevioletred;
}

.yellowgreen{
	background-color:yellowgreen;
}

.red{
	background-color: red;
}

.divCross{
	width: initial!important;
}

.cross{
	border-bottom: lime dotted 4px;
}

.crossText{
	
}

#containLegend div{
	width: 100px;
}

#containLegend, #containLegend div{
	display: inline-block;
}

#removeSelec:hover{
	text-decoration: underline;
	cursor:pointer;
}

#removeSelec:active{
	font-style: italic;
}

#validateReview{
	margin-top: 10px;
	clear: both;
}

.titleMoreInfo{
	margin-top: 10px;
	margin-bottom: 10px;
}

.linkLogin{
	text-align: right;
}

#linkLogin{
	color:#777;
}

#linkLogin:hover{
	text-decoration: none;
	color:white;
}

.linkLogin:hover  #loginFormDiv{
	display: block;
}

#loginFormDiv{
	color:initial !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: initial !important;
	font-weight: initial !important;
	display: none;
	width: 245px;
	padding:5px;
	margin-top: 15px;
	text-align: center;
	background-color: #222;
	position: relative;
	left:105px;
}

#loginFormDiv label[for='id_password']{
	margin-top: 10px;
}

#loginFormDiv label, #loginFormDiv p{
	color:#777;
}

#loginFormDiv button{
	margin-top:10px;
	margin-bottom: 10px;
}

#parfolderList{
	margin-bottom: 30px;
}

#parfolderList li:hover{
	text-decoration: underline;
	cursor: pointer;
}

#reviewChoises label, #reviewChoises input[type='radio'], #reviewChoises input[type='checkbox']{
	cursor: pointer;
}

.pointer{
	cursor: pointer;
}

.hrReview{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.oneLineChoises{
	display: inline-block;
	width: 175px;
}

#checkRef, #choises{
	float:left;
}

#checkRef{
	min-height: 245px;
}

.controllers{
	margin-bottom: 20px;
	padding-bottom: 30px;
}

.controllers input[type="range"]{
	display: inline-block;
}

input[type="range"] {
    position: relative;   
}

input[type="range"]:after, input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}

input[type="range"]:before {
    left:0em;
    content: attr(min);
}

input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.removeImage{
	margin-right:3px;
	display: none;
}

.removeImage img{
	margin-bottom:3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.lines{
	cursor:pointer;
}

#headerSelector:hover{
	cursor: pointer;
	font-style: italic;
}

#selectGal{
	width: 315px;
	font-size: 18px;
	display: inline;
	margin-right: 15px;
}

#submitSelectGal{
	margin-bottom: 7px;
}

#allFieldsSelect{
	margin:auto;
	min-height: 330px;
}

.btnExport{
	margin-top: 30px;
	margin-bottom: 30px;
}

#btnExport{
	clear: both;
	margin-top: 20px;
}

.controllerCheckboxs:hover{
	text-decoration: underline;
	cursor: pointer;
}

.plotdiv .bk-plot-wrapper table{
	margin:auto !important;
}

@media (max-width: 1745px) {
	.col-md-5{
		width:100%;
	}
	.col-md-offset-1{
		margin-left: 0;
	}
	.bothLittle{
		width:100%;
	}
}

@media (min-width: 1745px){
	.bothLittle{
		width:50%;
	}
}